* {
  margin: 0;
  padding: 0;
  font-family: Quicksand, Century Gothic, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 28px;
}

body {
  background-color: #191627;
  color: #BCBAC4;
  width: 100%;
  /*light purple #a395e9 */
}

nav ul {  
  box-sizing: border-box;
  background-color: #a395e9;
  list-style-type: none;
  border-radius: 25px;
  width: 30%;
  font-size: 0;
  text-align: center;
  margin: 50px auto auto auto; 
}

nav li {
  display: inline-block;
  font-size: 0.8rem;
  width: 20%;
  text-align: center;
}

nav a {
  display: inline-block;
  text-decoration: none;
  width: 90%;
  height: 90%;
  padding: 0;
  line-height: 1.5rem;
}

nav a:hover,
nav a:focus {
  border-radius: 25px;
  background-color: #8a76d1;
  color: white;
}

main {
  margin-bottom: 200px;
  margin-top: 100px;
  margin-left: 0px;
}

header {
  display: inline-block;
  text-align: right;
  width: 55%;
  padding-right: 50px;
  vertical-align: 100%;
}

figure {
  display: inline-block;
  text-align: left;
  width: 45%;
  vertical-align: 60%;
}

figure img {
  text-align: center;
  width: 30%;
  height: 30%;
}

header h1 {
  color: white;
  margin-bottom: 10px;
}

header h5 {
  margin-bottom: 10px;
}

header p {
  font-size: 0.8rem;
  text-align: right;
}
#about {
  margin-bottom: 200px;
  text-align: center;
}

#skills{
  margin-bottom: 200px;
  text-align: center;
}
#projects{
  margin-bottom: 200px;
  text-align: center;
}
#contact{
  margin-bottom: 200px;
  text-align: center;
}
