* {
  margin: 0;
  padding: 0;
  font-family: Century Gothic, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 28px;
}

body {
  background-color: #191627;
  color: #BCBAC4;
  /*light purple #a395e9 */
}

nav ul {  
  box-sizing: border-box;
  background-color: #a395e9;
  list-style-type: none;
  border-radius: 25px;
  width: 30%;
  font-size: 0;
  text-align: center;
  margin: 50px auto auto auto; 
}

nav li {
  display: inline-block;
  font-size: 0.8rem;
  width: 20%;
  text-align: center;
}

nav a {
  display: inline-block;
  text-decoration: none;
  width: 90%;
  height: 90%;
  padding: 0;
  line-height: 1.5rem;
}

nav a:hover,
nav a:focus {
  border-radius: 25px;
  background-color: #8a76d1;
  color: white;
}

figure {
  text-align: center;
  margin-top: 50px;
}

figure img {
  height: 10%;
  width: 10%;
}

#home header {
  margin-bottom: 200px;
  text-align: center;
  width: 100%;
}

header h1 {
  color: white;
  margin: 10px;
}

header h4 {
  margin: 10px;
}

header p {
  font-size: 0.8rem;
  text-align: center;
}
#about {
  margin-bottom: 200px;
  text-align: center;
}

#skills{
  margin-bottom: 200px;
  text-align: center;
}
#projects{
  margin-bottom: 200px;
  text-align: center;
}
#contact{
  margin-bottom: 200px;
  text-align: center;
}
