<h1 id="sa-practice-project-2-todo-list">Sa# Practice Project 2: Todo List</h1>
<p>The former assessment gave you 48 hours to complete this project, though most students would complete it in less than
  24. You may take more time than that, but if you want to test yourself, try to limit yourself to 48 hours.</p>
<p>Your goal for this project is to build a Todo List manager using HTML and CSS. Do not use any JavaScript, and do not
  use any enhanced forms of HTML or CSS. The project will not be fully functional -- you won&#39;t be able to select
  different todo lists, won&#39;t be able to add or delete todos, and won&#39;t be able to mark todos as complete.
  However, you should be able to view the popup modal used for adding new todos, and the responsive hamburger should
  work to show and hide the navigation bar when your browser&#39;s width is less than 768 pixels wide.</p>
<p>You can download the design files from <a
    href="https://d3jtzah944tvom.cloudfront.net/202/projects/assessment-20190922.zip">here</a>.</p>
<p>There are three views of the Todo list that your project should provide:</p>
<ul>
  <li><strong>The Todo List Page</strong> page contains a list of Todo items and a <code>nav</code> pane for viewing
    groups of Todo items.</li>
  <li>A <strong>mobile device version</strong> of the Todo List page that hides the <code>nav</code> pane by default,
    but lets the user reveal it by clicking on a <strong>responsive hamburger</strong>.</li>
  <li><strong>The Modal</strong> is a dialog that lets a user add a Todo item.</li>
</ul>
<p>If we don&#39;t provide explicit details about something, use your judgment to determine what you should do.</p>
<h2 id="todo-list">Todo List</h2>
<p><img src="https://d3jtzah944tvom.cloudfront.net/202/projects/assessment/todos_list.png" alt="todo-list"></p>
<ul>
  <li>There are two main components:<ul>
      <li>The white <code>main</code> area contains the Todo list.</li>
      <li>The purple <code>nav</code> area that contains groupings of Todo items (by month/year)</li>
    </ul>
  </li>
  <li>The main Todo list should adjust its width as you adjust the width of the window. The navigation area should
    remain fixed in width.</li>
  <li>The color of a Todo item in the Todo list changes when you hover the cursor over it. Notice the cursor hovering
    over <code>Item 2</code> in the design file.</li>
  <li>Leave proper spacing between the Todo list in the <code>main</code> area and the right side of the browser window.
  </li>
  <li>Greyed-out Todo items with strikethroughs (see <code>Item 3</code>) represent completed Todo items.</li>
  <li>The selected <code>nav</code> group on the left is &quot;highlighted&quot; with a dark background (see 2/16 under
    &quot;All Todos&quot;).</li>
  <li>The circle surrounding the count of Todo items should adjust its size accordingly (see the circle enclosing the
    number 18)</li>
  <li>When the window width is 768px wide or less:<ul>
      <li>Hide the <code>nav</code> area.</li>
      <li>Show a <strong>responsive hamburger</strong> (three horizontal lines) above the Todo List in the
        <code>main</code> area.</li>
      <li>Show the <code>nav</code> area when the user clicks the hamburger, then hide it again when the user clicks a
        second time. When you show the <code>nav</code> area, shift the <code>main</code> area to the right so you can
        still read it.</li>
    </ul>
  </li>
  <li>Some items use images. Be sure to use them in your project:<ul>
      <li><code>all-todos.png</code> - All Todos icon from the navigation area</li>
      <li><code>done.png</code> - Completed todos icon from the navigation area</li>
      <li><code>hamburger.png</code> - The &quot;responsive hamburger&quot; icon for mobile sizes</li>
      <li><code>plus.png</code> - The <code>+</code> sign for adding todos</li>
      <li><code>select.png</code> - The up and down arrows for the modal date controls</li>
      <li><code>ticked-box.png</code> - Checkbox for completed todo items in the main todo list</li>
      <li><code>trash.png</code> - Trash can for deleting todo items</li>
      <li><code>unticked-box.png</code> - Checkbox for incomplete todo items in the main todo list</li>
    </ul>
  </li>
</ul>
<h3 id="mobile-device-screen">Mobile Device Screen</h3>
<p><img src="https://d3jtzah944tvom.cloudfront.net/202/projects/assessment/todo-narrow.png" alt="todo-narrow"></p>
<p>Hint: Check <a href="http://www.outofscope.com/css-only-menu-toggle-no-javascript-required/">this article</a> for
  inspiration.</p>
<h2 id="modal-specifications">Modal Specifications</h2>
<p><img src="https://d3jtzah944tvom.cloudfront.net/202/projects/assessment/todos-edit.png" alt="todo-edit"></p>
<ul>
  <li>The modal asks for three inputs: <code>Title</code>, <code>Due Date</code>, and <code>Description</code>.</li>
  <li>The <code>Due Date</code> has three selects: the <code>Day</code>, <code>Month</code>, and <code>Year</code>
    fields.</li>
  <li>The content of the modal input elements isn&#39;t critical. However, the spacing and alignment relative to each
    other within the modal are.</li>
  <li>Show the modal when the user clicks <code>Item 1</code>. Refer to the responsive hamburger implementation to learn
    how to respond to clicks.</li>
  <li>You don&#39;t have to provide a way to close the modal (a page refresh should do the trick).</li>
  <li>When the modal is visible, a translucent overlay should dim the white part of the screen behind it.</li>
  <li>Center the modal proportionally horizontally over the main todo list content.</li>
  <li>The modal should not change size when you adjust the width of the window.</li>
  <li>The modal should remain centered over the todo list content as you change the window width until it can no longer
    fit. When the modal won&#39;t fit, use your best judgment for its placement, but ensure the modal remains fully
    visible as long as possible.</li>
  <li>If you use the PSD file for this project, you can find the modal design in hidden layers. Otherwise, use the PNG
    show above.</li>
</ul>
<h2 id="general-requirements">General Requirements</h2>
<ul>
  <li>Use standard HTML and CSS exclusively. Do not use Javascript or any HTML or CSS extensions, add-ons, or
    preprocessors.</li>
  <li>You may use Flex, Grid, floats, or positioning as needed and desired in the project.</li>
  <li>Your project doesn&#39;t have to connect to a server or database, but it should include the HTML that it would
    otherwise need: provide anchors, form controls, and actions where necessary. You can use a URL of <code>#</code> in
    tags that require URLs.</li>
  <li>Your HTML markup should pass the <a href="https://validator.w3.org/#validate_by_input">W3C HTML validator</a>. You
    may ignore warnings about browser-specific attributes like <code>autocapitalize</code> and <code>autocorrect</code>.
  </li>
  <li>Your CSS should pass the <a href="https://jigsaw.w3.org/css-validator/#validate_by_input">W3C CSS validator</a>.
  </li>
  <li>Check the appearance of your work on multiple browsers.</li>
  <li>Note that some browsers use <code>border-radius: 5px</code> to give rounded corners to the 3 drop-down boxes, but
    others do not. Your submission should show square corners regardless of which browser the grader uses.</li>
  <li>Use the design files to determine width, height, margins, and padding for elements (see below for colors and
    fonts). The design files show the project at a fixed screen width, but your project should stretch or shrink
    horizontally as the width changes. The navigation column should be fixed width, but the main todo list is the part
    that varies in width.</li>
  <li>If you do not have access to Photoshop or a viable alternative, you may use the provided PNG files instead. You
    can measure some aspects of the PNG files using most PNG viewers (like Mac&#39;s Preview program). Try to estimate
    the sizes of fonts, margins, padding, and other items as best you can. We&#39;ll be looking for visual differences.
    A blink comparison should help you get a close match for the design.</li>
  <li>The state of the page you build should match those of the above screenshots. For example, there should be 9 Todo
    items in the <code>main</code> area with 3 of those marked as complete.</li>
  <li>Please zip all your files (including the <code>README.md</code> if present) and include it as an attachment.</li>
</ul>
<h2 id="fonts-icons-and-colors">Fonts, Icons, and Colors</h2>
<p>If you can measure colors font sizes yourself, please feel free to try doing that. If you can&#39;t do that yourself,
  here are some values you can use for the various components of the app.</p>
<ul>
  <li>Primary font (used in Todo list): 16px Helvetica, Arial, sans-serif</li>
  <li>The design files include the four icons you need.</li>
  <li>Navigation area colors:<ul>
      <li>Background: #464f77</li>
      <li>Selected item background color: #38405e</li>
      <li>Blue circles background color: #148fd5</li>
      <li>Gray circles background color: #6b7292</li>
      <li>White characters color: #ffffff</li>
      <li>Dim characters color: #b2b5c3</li>
    </ul>
  </li>
  <li>Todo Area and Modal Colors<ul>
      <li>Background: #ffffff</li>
      <li>Black text: #060606</li>
      <li>Dim text: #b3b3b3</li>
      <li>Blue text and circles: #148fd5</li>
      <li>Blue buttons background: #148fd5</li>
      <li>Lines between todo items: #e7e7e7</li>
    </ul>
  </li>
  <li>Opacity of Modal Overlay: 0.2</li>
</ul>
<h2 id="completed-project">Completed Project</h2>
<p>Here are some things to look for in your completed project:</p>
<p><strong>Operation</strong></p>
<ul>
  <li>Do a blink comparison between your completed project and the PNG files with your browser&#39;s window width set to
    1200 pixels, or as close to that as you can get. This works best with the full page view and the modal view design
    files.</li>
  <li>Several numbers on the display have a circular background: make sure they are all circular except for the number
    18 next to &quot;All Todos&quot;; that one should appear more lozenge-shaped (a flattened circle).</li>
  <li>Hover the cursor above one of the todos. The todo should change colors.</li>
  <li>Make sure the navigation bar hides itself when you reduce the window width to 768 pixels or less.</li>
  <li>While at 768 pixels, do a blink comparison with the appropriate design file.</li>
  <li>Click the responsive hamburger. The navigation bar should show itself.</li>
  <li>While at 768 pixels, do a blink comparison with the appropriate design file.</li>
  <li>Click the responsive hamburger. The navigation bar should hide itself.</li>
  <li>Slowly expand the window to more than 768 pixels and check that the navigation bar reveals itself automatically.
  </li>
  <li>Click item 1: the modal should open</li>
  <li>When the modal is open, the visible white area of the main screen should be grayed out.</li>
  <li>Make sure the drop-down widgets for the date fields look like the design file</li>
  <li>Reload the page to close the modal</li>
  <li>Check the app out in other browsers, your phone, and your tablet (if you have them)</li>
</ul>
<p><strong>HTML</strong></p>
<ul>
  <li>Validate your HTML</li>
  <li>Where is the code for your modal? Is your modal inside the list of todos? The modal is not part of the todo list,
    so it&#39;s semantically wrong to put it inside the todo list.</li>
  <li>Avoid <code>&lt;div&gt;</code> and <code>&lt;span&gt;</code> tags. Try to limit yourself to semantic HTML.</li>
  <li>Don&#39;t use tags for their appearance; use them semantically, then style them with CSS. In other words,
    don&#39;t use tags like <code>&lt;b&gt;</code> and <code>&lt;strong&gt;</code> to boldface the uncompleted todos and
    the currently selected date in the left column.</li>
</ul>
<p><strong>CSS</strong></p>
<ul>
  <li>Validate your HTML</li>
  <li>Try to avoid complex selectors. As much as possible, use simple selectors that are based on class names</li>
</ul>
<p>We can not provide code reviews for this project. Use the checklist above to perform a self review of your project
  and code.</p>
<h2 id="notes">Notes</h2>
<h4 id="code-to-create-a-toggle-checkbox">Code to create a toggle checkbox</h4>
<ul>
  <li>note that a <code>label</code>&#39;s <code>for</code> is associated with the <code>input</code>&#39;s
    <code>id</code>. This must be unique, so we can select each input box uniquely. </li>
  <li>the <code>class=&quot;toggle-box&quot;</code> is for styling all <code>input</code> elements.</li>
</ul>
<p>html</p>
<pre><code class="lang-html">      &lt;ul&gt;
        &lt;<span class="hljs-keyword">li</span> <span class="hljs-keyword">class</span>=<span class="hljs-string">"col1"</span>&gt;
          &lt;<span class="hljs-keyword">label</span> <span class="hljs-keyword">for</span>=<span class="hljs-string">"box-1"</span>&gt;
            &lt;<span class="hljs-keyword">input</span> <span class="hljs-keyword">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-keyword">class</span>=<span class="hljs-string">"toggle-box"</span> id=<span class="hljs-string">"box-1"</span>&gt;
            &lt;img <span class="hljs-keyword">class</span>=<span class="hljs-string">"unticked-box"</span> src=<span class="hljs-string">"images/unticked-box.png"</span> alt=<span class="hljs-string">"unticked-box"</span>&gt;
            &lt;img <span class="hljs-keyword">class</span>=<span class="hljs-string">"ticked-box"</span> src=<span class="hljs-string">"images/ticked-box.png"</span> alt=<span class="hljs-string">"ticked-box"</span>&gt;
          &lt;/<span class="hljs-keyword">label</span>&gt;
        &lt;/<span class="hljs-keyword">li</span>&gt;
        &lt;<span class="hljs-keyword">li</span> <span class="hljs-keyword">class</span>=<span class="hljs-string">"col2"</span>&gt;Item 1&lt;/<span class="hljs-keyword">li</span>&gt;
        &lt;<span class="hljs-keyword">li</span> <span class="hljs-keyword">class</span>=<span class="hljs-string">"col3"</span>&gt;&lt;img src=<span class="hljs-string">"images/trash.png"</span> alt=<span class="hljs-string">"trash"</span>&gt;&lt;/<span class="hljs-keyword">li</span>&gt;

        &lt;<span class="hljs-keyword">li</span> <span class="hljs-keyword">class</span>=<span class="hljs-string">"col1"</span>&gt;
          &lt;<span class="hljs-keyword">label</span> <span class="hljs-keyword">for</span>=<span class="hljs-string">"box-2"</span>&gt;
            &lt;<span class="hljs-keyword">input</span> <span class="hljs-keyword">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-keyword">class</span>=<span class="hljs-string">"toggle-box"</span> id=<span class="hljs-string">"box-2"</span>&gt;
            &lt;img <span class="hljs-keyword">class</span>=<span class="hljs-string">"unticked-box"</span> src=<span class="hljs-string">"images/unticked-box.png"</span> alt=<span class="hljs-string">"unticked-box"</span>&gt;
            &lt;img <span class="hljs-keyword">class</span>=<span class="hljs-string">"ticked-box"</span> src=<span class="hljs-string">"images/ticked-box.png"</span> alt=<span class="hljs-string">"ticked-box"</span>&gt;
          &lt;/<span class="hljs-keyword">label</span>&gt;
        &lt;/<span class="hljs-keyword">li</span>&gt;
        &lt;<span class="hljs-keyword">li</span> <span class="hljs-keyword">class</span>=<span class="hljs-string">"col2"</span>&gt;Item 2&lt;/<span class="hljs-keyword">li</span>&gt;
        &lt;<span class="hljs-keyword">li</span> <span class="hljs-keyword">class</span>=<span class="hljs-string">"col3"</span>&gt;&lt;img src=<span class="hljs-string">"images/trash.png"</span> alt=<span class="hljs-string">"trash"</span>&gt;&lt;/<span class="hljs-keyword">li</span>&gt;
</code></pre>
<p>css</p>
<pre><code class="lang-css"><span class="hljs-selector-tag">li</span><span class="hljs-selector-class">.col1</span> {
  <span class="hljs-attribute">position</span>: relative;
}

<span class="hljs-selector-tag">input</span><span class="hljs-selector-attr">[type="checkbox"]</span> { <span class="hljs-comment">/*hide checkbox*/</span>
  <span class="hljs-attribute">display</span>: none;
  <span class="hljs-attribute">width</span>: <span class="hljs-number">0</span>;
  <span class="hljs-attribute">height</span>: <span class="hljs-number">0</span>;
}

<span class="hljs-selector-tag">img</span><span class="hljs-selector-class">.unticked-box</span> {
  <span class="hljs-attribute">opacity</span>: <span class="hljs-number">1</span>;
}

<span class="hljs-selector-tag">img</span><span class="hljs-selector-class">.ticked-box</span> {
  <span class="hljs-attribute">position</span>: absolute;
  <span class="hljs-attribute">opacity</span>: <span class="hljs-number">0</span>;
  <span class="hljs-attribute">left</span>: <span class="hljs-number">0</span>;
  <span class="hljs-attribute">top</span>: <span class="hljs-number">0</span>;
}

<span class="hljs-selector-tag">input</span><span class="hljs-selector-class">.toggle-box</span><span class="hljs-selector-pseudo">:checked</span> ~ <span class="hljs-selector-tag">img</span><span class="hljs-selector-class">.ticked-box</span> { 
  <span class="hljs-attribute">position</span>: absolute;
  <span class="hljs-attribute">opacity</span>: <span class="hljs-number">1</span>;
  <span class="hljs-attribute">left</span>: <span class="hljs-number">0</span>;
  <span class="hljs-attribute">z-index</span>: <span class="hljs-number">2</span>;
}
</code></pre>
<h4 id="use-anchor-link-to-create-the-finger-cursor">Use anchor link to create the finger cursor</h4>
<p>mple Markdown</p>
<p>This is some basic, sample markdown.</p>
<h2 id="second-heading">Second Heading</h2>
<ul>
  <li>Unordered lists, and:<ol>
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
    </ol>
  </li>
  <li>More</li>
</ul>
<blockquote>
  <p>Blockquote</p>
</blockquote>
<p>And <strong>bold</strong>, <em>italics</em>, and even <em>italics and later <strong>bold</strong></em>. Even
  <del>strikethrough</del>. <a href="https://markdowntohtml.com">A link</a> to somewhere.</p>
<p>And code highlighting:</p>
<pre><code class="lang-js"><span class="hljs-keyword">var</span> foo = <span class="hljs-string">'bar'</span>;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">baz</span><span class="hljs-params">(s)</span> </span>{
   <span class="hljs-keyword">return</span> foo + <span class="hljs-string">':'</span> + s;
}
</code></pre>
<p>Or inline code like <code>var foo = &#39;bar&#39;;</code>.</p>
<p>Or an image of bears</p>
<p><img src="http://placebear.com/200/200" alt="bears"></p>
<p>The end ...</p>